:root {
  --greenColor: hsl(75, 94%, 57%);
  --whiteColor: hsl(0, 0%, 100%);
  --greyColor: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --offBlack: hsl(0, 0%, 8%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--offBlack);
  font-family: "Inter", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700px;
  margin-bottom: 15px;
}

p {
  font-weight: 400px;
  margin-bottom: 15px;
}

.card {
  background-color: var(--darkGrey);
  width: 300px;
  padding: 30px 25px;
  text-align: center;
  border-radius: 15px;
}

.card img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.card h2 {
  color: var(--whiteColor);
  font-size: 25px;
}

.card h4 {
  font-size: 15px;
  color: var(--greenColor);
  padding-bottom: 15px;
}

.card p {
  color: var(--whiteColor);
  font-size: 13px;
}

.card button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 7px;
  background-color: var(--greyColor);
  color: var(--whiteColor);
}

.card button:active {
  background-color: var(--greenColor);
  color: var(--greyColor);
}
